:root {
    --bg-color: #1d2127;
    --fg-color: #23272d;

    --icon-size: 30px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	list-style: none;
    font-size: 14px;
}

body {
    width: 350px;
    height: 500px;
    background-color: var(--bg-color);
    color: #e4e4e4;
}

.nav-menu {
    height: 53px;
    position: fixed;
    background: var(--bg-color);
    text-align: center;
    color: #e4e4e4;
    font-weight: 300;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.nav-menu .title {
    font-size: 18px;
}

.nav-menu .burger {
    cursor: pointer;
	width: var(--icon-size);
	height: var(--icon-size);
    margin-left: 14px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/AP+gvaeTAAAAXklEQVRYhe3UMQ6AIAxGYeLpxGsbLwL38LmQyAJhaOLg+5Iu7dB2+VOSOsAB1Fb5iwMqr9L1L+Kc/c5t8bY78s/xBDJQWu2BSyWtMQknTELpJ0zC2W2Rf44nJqE+8ACj3nijmalfeAAAAABJRU5ErkJggg==)
}

.nav-menu .plus {
    cursor: pointer;
	width: var(--icon-size);
	height: var(--icon-size);
    margin-right: 14px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABQklEQVRoge2ZMU7EMBBF54/ogDKx78FyC9CeZbehoEUrqpwFaeESwEHsFi2tTbUSih2QvcQMy7zyx47+8xSxFCJFUb4CUw+cc0siWgFYENFpu0pZ3gG8hBAGa+02tyAr4r2/J6KbWatVAmDT9/1tko8D59wSwEObWnXEGK+ttY+fM86sWzXqUw0zr5NsHAC4aFOnnhjjYpzlJnLWoMuhnI+DnMifREWkMbuIMQbGmMkP70+hE5GGikhDRaShItJQEWmc1GyquXKU7PHex9L3/++JlJzYfhI1p1zC0UxERaShItJQEWmoiDSORqTqilLC3FeTPUczERWRRk5k17xFOW/jIPfH6rVNl4NIOiYiIYShTZd6mDnpmIhYa7cANm0qlQPgruu6pySf2uCcu2LmdYzxkn7/v+KOiJ6ZechJKIryPR/RaECivJWRdAAAAABJRU5ErkJggg==)
}

.menu {
    position: absolute;
    top: 53px;
    height: calc(100% - 53px);
    width: 75%;
    border: 25% solid black;
    background-color: var(--fg-color);
    z-index: 100;
}

.menu .row {
    padding-top: 15px;
    padding-inline: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.menu .footer {
    position: absolute;
    height: 53px;
    width: 100%;
    bottom: 0;
}

.session_list {
    width: 90%;
    margin-inline: 5%;
    height: calc(100% - 65px);
    position: absolute;
    top: 60px;
}

.session {
    border-bottom: 1px solid #444c56;
    padding-block: 10px;
    padding-inline: 15px;
    width: 90%;
    margin: 4px auto;
    display: flex;
    justify-content: space-between;
}

.session_title {
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.session_delete {
    cursor: pointer;
    width: 18px;
	height: 18px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
    color: #e9e9e9;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABLklEQVRoge2awW3DMAxFqaDIBAbkzOAN4naUzlGglwToIZkjq7QreAQH+Act0MvvJb0EiSw7jMMAfEeaovggmRdbxLFF0CrUdd2yqqovEXkXkdVA+pHkIaW0aZrmV2N/NREAexH5GLOG5K6u60+tHlQA0AMggHVBbnvK7efobRSnxniv/CEWWoUeTfYdAfAtIq8z9TLET4zx7drDZzqR7DUsmlqad3kKMcbBPp/pRLK4iDVc5AJtCOHSeLwaF8XRrja1/ifLee7YeK52Dr9a1nARa7iINVzEGi5iDRexhotYw0Ws4SLWcBFruIg1XMQaL1qFALQhhAXJMfFwHp+Kfx+xhotYo1TkeNcu8hT9VFAkQvJwWy/TKd27SCSltCG5l3lPpie5SyltZ9zTUeMPdjKCmZ1xn1EAAAAASUVORK5CYII=)
}

.message {
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    visibility: hidden;
}